<div id="idea-box">
  <h1>Idea Box</h1>

  <label for="idea_filter">Search</label>
  <%= text_field :idea, :filter %>

  <h3>New Idea:</h3>
  <label for="idea-title">Title</label>
  <input type="text" id="idea-title"><br>
  <label for="idea-body">Body</label>
  <input type="text" id="idea-body"><br>
  <input class="btn" id="create-idea" type="button" name="submit" value="Save">

  <div id="ideas-list">
  </div>
</div>
